# Absolute path to a GKE bundle on disk
bundlepath: "{{ gke_bundle_path }}"
# Specify which vCenter resources to use for deployment
vcenter:
  # The credentials and address GKE should use to connect to vCenter
  credentials:
    address: "{{ vcenter.address }}"
    username: "{{ vault_vcenter_username }}"
    password: "{{ vault_vcenter_password }}"
  datacenter: "{{ vcenter.datacenter }}"
  datastore: "{{ vcenter.datastore }}"
  cluster: "{{ vcenter.cluster }}"
  network: "{{ gke_network_internal }}"
  resourcepool: "{{ gke_cluster_resource_pool }}"
  # Provide the name for the persistent disk to be used by the deployment (ending
  # in .vmdk). Any directory in the supplied path must be created before deployment.
  # Not required when adding additional user clusters
  datadisk: "{{ gke_data_disk_name }}"
  # Provide the path to vCenter CA certificate pub key for SSL verification
  cacertpath: "{{ vcenter.cacertpath_gkectl }}"
# Specify the proxy configuration.
proxy:
  # The URL of the proxy
  url: "{{ gke_admin_workstation.proxyUrl }}"
  # The domains and IP addresses excluded from proxying
  noproxy: "{{ no_proxy }}"
# Specify admin cluster settings for a fresh GKE On-Prem deployment. Omit this section
# and use the --kubeconfig flag when adding a new user cluster to an existing deployment
admincluster:
  # In-Cluster vCenter configuration
  vcenter:
    # If specified it overwrites the network field in global vcenter configuration
    network: "{{ gke_admin_cluster_network }}"
  # # The absolute or relative path to the yaml file to use for static IP allocation.
  # # Do not include if using DHCP
  # ipblockfilepath: ""
  # # Specify pre-defined nodeports if using "manual" load balancer mode
  # manuallbspec:
  #   ingresshttpnodeport: 32527
  #   ingresshttpsnodeport: 30139
  #   controlplanenodeport: 30968
  #   addonsnodeport: 31405
  # Specify the already-existing partition and credentials to use with F5
  bigip:
    # To re-use credentials across clusters we recommend using YAML node anchors.
    # See https://yaml.org/spec/1.2/spec.html#id2785586
    credentials:
      address: "{{ f5.provider.server }}"
      username: "{{ f5.provider.user }}"
      password: "{{ f5.provider.password }}"
    partition: "{{ item.f5_partition }}"
    # # Optionally specify a pool name if using SNAT
    # snatpoolname: ""
  # The VIPs to use for load balancing
  vips:
    # Used to connect to the Kubernetes API
    controlplanevip: "{{ item.cluster_ctrl_vip }}"
    # Shared by all services for ingress traffic
    ingressvip: "{{ item.cluster_ingress_vip }}"
    # # Used for admin cluster addons (needed for multi cluster features). Must be the same
    # # across clusters
    # addonsvip: ""
  # The Kubernetes service CIDR range for the cluster. Must not overlap with the pod
  # CIDR range
  serviceiprange: 10.96.232.0/24
  # The Kubernetes pod CIDR range for the cluster. Must not overlap with the service
  # CIDR range
  podiprange: 192.168.0.0/16
#
# User cluster(s) defined in separate yaml file(s)
#
lbmode: Integrated
# Specify which GCP project to connect your GKE clusters to
gkeconnect:
  projectid: "{{ gcloud_project }}"
  # The absolute or relative path to the key file for a GCP service account used to
  # register the cluster
  registerserviceaccountkeypath: "{{ gke_register_sa_keypath }}"
  # The absolute or relative path to the key file for a GCP service account used by
  # the GKE connect agent
  agentserviceaccountkeypath: "{{ gke_agent_sa_keypath }}"
  #proxy: "http://u:p@16.100.208.216:8888"
# Specify which GCP project to connect your logs and metrics to
stackdriver:
  projectid: "{{ gcloud_project }}"
  # A GCP region where you would like to store logs and metrics for this cluster.
  clusterlocation: "{{ gke_cluster_location }}"
  enablevpc: {{ enable_vpc }}
  # The absolute or relative path to the key file for a GCP service account used to
  # send logs and metrics from the cluster
  serviceaccountkeypath: "{{ gke_stackdriver_sa_keypath }}"
# Specify Cloud Run configuration
cloudrun:
  enabled: {{ enable_cloudrun }}
# # Optionally use a private Docker registry to host GKE images
privateregistryconfig:
  # Do not include the scheme with your registry address
  credentials:
    address: "{{ private_reg_ip }}:{{ private_reg_port }}"
    username: "{{ private_reg_username }}"
    password: "{{ private_reg_password }}"
#   # The absolute or relative path to the CA certificate for this registry
  cacertpath: "{{ private_reg_cert_path_gkectl }}"
# The absolute or relative path to the GCP service account key that will be used to
# pull GKE images
gcrkeypath: "{{ gke_whitelisted_keypath }}"
# Configure kubernetes apiserver audit logging
cloudauditlogging:
  projectid: "{{ gcloud_project }}"
  # A GCP region where you would like to store audit logs for this cluster.
  clusterlocation: "{{ gcp_region }}"
  # The absolute or relative path to the key file for a GCP service account used to
  # send audit logs from the cluster
  serviceaccountkeypath: "{{ gke_auditlogging_sa_keypath }}"
