hostconfig:
  dns: {{ item.gkenode_net.dns}}
  tod: {{ item.gkenode_net.tod }}
  otherdns: {{ item.gkenode_net.otherdns }}
  othertod: {{ item.gkenode_net.othertod }}
  searchdomainsfordns:
  - "{{ item.gkenode_net.search_domain }}"
blocks:
  - netmask: {{ item.gkenode_net.netmask }}
    gateway: {{ item.gkenode_net.gateway }}
    ips:
{% for host in item.gkenode_net.ips %}
    - ip: {{ host.ip }}
      hostname: {{ host.hostname }}
{% endfor %}