---
vault_f5_root_password: password
vault_f5_admin_password: password
vault_f5_license_key: license key

vault_vcenter_username: Administrator@vsphere.local
vault_vcenter_password: password

vault_gkeadm_vcenter_username: Administrator@vsphere.local
vault_gkeadm_vcenter_password: password

vault_simplivity_username: username
vault_simplivity_password: password
