[Global]
cluster-id = "{{ item.name }}"
[VirtualCenter "{{ vcenter.address }}"]
insecure-flag = "true"
user = "{{ vcenter.username }}"
password = "{{ vcenter.password }}"
port = "443"
datacenters = "{{ vcenter.datacenter }}"
{% if csi_driver == 'hpesvt' %}
[HPESimpliVity]
ip =  "{{ simplivity_appliances[0] }}"
user = "{{ simplivity_username }}"
password = "{{ simplivity_password }}"
{% endif %}