[Global]
cluster-id = "{{ item.name }}"
[VirtualCenter "{{ vcenter.address }}"]
insecure-flag = "true"
user = "{{ vcenter.username }}"
password = "{{ vcenter.password }}"
port = "443"
datacenters = "{{ vcenter.datacenter }}"