ansible==2.9.6
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
docopt==0.6.2
idna==2.9
jmespath==0.9.4
Jinja2==2.11.1
MarkupSafe==1.1.1
netaddr==0.7.19 
prompt-toolkit==3.0.5
pycparser==2.20
pyflakes==2.1.1
Pygments==2.6.1
pyvim==3.0.2
pyvmomi==6.7.3
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
selinux==0.2.1
urllib3==1.25.8
wcwidth==0.1.9
