export proxy_type={{ proxy_type }}
export proxy_address={{ proxy_address }}
export proxy_port={{ proxy_port }}
export no_proxy={{ no_proxy }}
export gcloud_project={{ gcloud_project }}
export whitelisted_key_path={{secrets_path }}/{{ gke_whitelisted_key | default('whitelisted-key.json') }}