# Absolute path to a GKE bundle on disk
bundlepath: "{{ gke_bundle_path }}"
# Specify which vCenter resources to use for deployment
vcenter:
  # The credentials and address GKE should use to connect to vCenter
  credentials:
    address: "{{ vcenter.address }}"
    username: "{{ vault_vcenter_username }}"
    password: "{{ vault_vcenter_password }}"
  datacenter: "{{ vcenter.datacenter }}"
  datastore: "{{ item.datastore | default(vcenter.datastore, true) }}"
  cluster: "{{ vcenter.cluster }}"
  network: "{{ gke_network_internal }}"
  resourcepool: "{{ item.resource_pool | default(gke_cluster_resource_pool, true) }}"
  # Provide the name for the persistent disk to be used by the deployment (ending
  # in .vmdk). Any directory in the supplied path must be created before deployment.
  # Not required when adding additional user clusters
  datadisk: "{{ gke_data_disk_name }}"
  # Provide the path to vCenter CA certificate pub key for SSL verification
  cacertpath: "{{ gkeadm_basedir }}/{{ secrets_directory | regex_replace('\\/$', '') }}/{{ vcenter.cacert }}"
# Specify the proxy configuration.
proxy:
  # The URL of the proxy
{% if gke_admin_workstation.proxyUrl is defined and gke_admin_workstation.proxyUrl | length %}
  url: "{{ gke_admin_workstation.proxyUrl }}"
{% else %}
  # url: ""
{% endif %}
  # The domains and IP addresses excluded from proxying
{% if no_proxy is defined and no_proxy | length %}
  noproxy: "{{ no_proxy }}"
{% else %}
  # noproxy: ""
{% endif %}
# Specify admin cluster settings for a fresh GKE On-Prem deployment. Omit this section
# and use the --kubeconfig flag when adding a new user cluster to an existing deployment
admincluster:
  # In-Cluster vCenter configuration
  vcenter:
    # If specified it overwrites the network field in global vcenter configuration
    network: "{{ item.cluster_network }}"
  # # The absolute or relative path to the yaml file to use for static IP allocation.
  # # Do not include if using DHCP
{% if item.gkenode_net.mode == 'static' %}
  ipblockfilepath: "{{ item.name }}-ip.yaml"
{% else %}
  #  ipblockfilepath: ""
{% endif %}
  # # Specify pre-defined nodeports if using "manual" load balancer mode
  # manuallbspec:
  #   ingresshttpnodeport: 32527
  #   ingresshttpsnodeport: 30139
  #   controlplanenodeport: 30968
  #   addonsnodeport: 31405
  # Specify the already-existing partition and credentials to use with F5
  bigip:
    # To re-use credentials across clusters we recommend using YAML node anchors.
    # See https://yaml.org/spec/1.2/spec.html#id2785586
    credentials:
      address: "{{ f5.provider.server }}"
      username: "{{ f5.provider.user }}"
      password: "{{ f5.provider.password }}"
    partition: "{{ item.f5_partition }}"
    # # Optionally specify a pool name if using SNAT
    # snatpoolname: ""
  # The VIPs to use for load balancing
  vips:
    # Used to connect to the Kubernetes API
    controlplanevip: "{{ item.cluster_ctrl_vip }}"
    # Shared by all services for ingress traffic
    ingressvip: "{{ item.cluster_ingress_vip }}"
    # # Used for admin cluster addons (needed for multi cluster features). Must be the same
    # # across clusters
    # addonsvip: ""
  # The Kubernetes service CIDR range for the cluster. Must not overlap with the pod
  # CIDR range
  serviceiprange: 10.96.232.0/24
  # The Kubernetes pod CIDR range for the cluster. Must not overlap with the service
  # CIDR range
  podiprange: 192.168.0.0/16
#
# User cluster(s) defined in separate yaml file(s)
#
lbmode: Integrated
# Specify which GCP project to connect your GKE clusters to
gkeconnect:
  projectid: "{{ gke_connect_projectid | default(gcloud_project, true) }}"
  # The absolute or relative path to the key file for a GCP service account used to
  # register the cluster
  registerserviceaccountkeypath: "{{ gkeadm_basedir }}/{{ secrets_directory | regex_replace('\\/$', '') }}/{{ gke_connectRegister_key }}"
  # The absolute or relative path to the key file for a GCP service account used by
  # the GKE connect agent
  agentserviceaccountkeypath: "{{ gkeadm_basedir }}/{{ secrets_directory | regex_replace('\\/$', '') }}/{{ gke_connectAgent_key }}"
# Specify which GCP project to connect your logs and metrics t
stackdriver:
  projectid: "{{ gke_stackdriver_projectid | default(gcloud_project, true) }}"
  # A GCP region where you would like to store logs and metrics for this cluster.
  clusterlocation: "{{ item.logging_metric_gcp_region | default(gke_cluster_gcp_region, true) }}"
  enablevpc: {{ item.enable_vpc | default(enable_vpc)  }}
  # The absolute or relative path to the key file for a GCP service account used to
  # send logs and metrics from the cluster
  serviceaccountkeypath: "{{ gkeadm_basedir }}/{{ secrets_directory | regex_replace('\\/$', '') }}/{{ gke_stackdriver_key }}"
# Specify Cloud Run configuration
cloudrun:
  enabled: {{ item.enable_cloudrun | default(enable_cloudrun) }}
# # Optionally use a private Docker registry to host GKE images
{% if private_docker_registry %}
privateregistryconfig:
  # Do not include the scheme with your registry address
  credentials:
    address: "{{ private_reg_ip }}:{{ private_reg_port }}"
    username: "{{ private_reg_username }}"
    password: "{{ private_reg_password }}"
#   # The absolute or relative path to the CA certificate for this registry
  cacertpath: "{{ gkeadm_basedir }}/{{ secrets_directory | regex_replace('\\/$', '') }}/{{ private_reg_cert }}"
{% else %}
# privateregistryconfig:
#   # Do not include the scheme with your registry address
#   credentials:
#     address: ""
#     username: ""
#     password: ""
#   # The absolute or relative path to the CA certificate for this registry
#   cacertpath: ""
{% endif %}
# The absolute or relative path to the GCP service account key that will be used to
# pull GKE images
gcrkeypath: "{{ gkeadm_basedir }}/{{ secrets_directory | regex_replace('\\/$', '') }}/{{ gke_whitelisted_key }}"
# Configure kubernetes apiserver audit logging
cloudauditlogging:
  projectid: "{{ gke_cloudauditlogging_projectid | default(gcloud_project, true) }}"
  # A GCP region where you would like to store audit logs for this cluster.
  clusterlocation: "{{ item.audit_logging_gcp_region | default(gke_cluster_gcp_region, true) }}"
  # The absolute or relative path to the key file for a GCP service account used to
  # send audit logs from the cluster
  serviceaccountkeypath: "{{ gkeadm_basedir }}/{{ secrets_directory | regex_replace('\\/$', '') }}/{{ gke_auditLogging_key }}"
